{% extends 'base.html.twig' %}

{% block title %}Endereço{% endblock %}

{% block stylesheets %}
    <style>
        button {
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100px;
        }
        .dv_bnt_novo {
            width: 40%;
            height: 60px;
            margin: 0 auto;
        }
        .bnt_novo {
            background-color: green;
            float: right;
            width: 150px;
        }
        .bnt_home {
            background-color: green;
            float: left;
            width: 150px;
        }
        .btn_show {
            background-color: #496f99;
            float: left;
        }
        .btn_edit {
            background-color: blue;
            float: center;
        }
        .btn_del {
            background-color: red;
            float: right;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Listagem de Endereços</h1>

    <div class="dv_bnt_novo">
        <a href="{{ path('index') }}"><button class="bnt_home">Ir para Home</button></a>
        <a href="{{ path('endereco_new') }}"><button class="bnt_novo">Novo Endereço</button></a>
    </div>
    <table class="table">
    	<thead>
    		<tr>
    			<th>Quadra</th>
    			<th>Número</th>
    			<th>Observação</th>
    			<th>Ações</th>
    		</tr>
    	</thead>
    	<tbody>
        {% for endereco in enderecos %}
        	<tr>
            	<td>{{ endereco.quadra }}</td>
            	<td>{{ endereco.numero }}</td>
            	<td>{{ endereco.observacao }}</td>
            	<td class="td_action">
                    <a href="{{ path('endereco_show', {'id': endereco.id}) }}"><button class="btn_show">Mostrar</button></a>
                    <a href="{{ path('endereco_edit', {'id': endereco.id}) }}"><button class="btn_edit">Editar</button></a>
                    <a href="" onclick="event.preventDefault(); document.getElementById('form-{{endereco.id}}').submit();"><button class="btn_del">Deletar</button></a>
                    <form id="form-{{endereco.id}}" method="post" action="{{ path('endereco_delete') }}">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="id" value="{{endereco.id}}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ endereco.id) }}">
                    </form>
                </td>
            </tr>
        {% else %}
        <tr>
            <td colspan="4">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
	    </tbody>
    </table>
{% endblock %}
